/* Inizio setting pagina */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Fine setting pagina */

/* Inizio logo pagina */
.box-logo{
    width: 3000px;
    height: 100px;
    background-color: f6f8f9;
}

img, h1 {
    display:inline-block;
    vertical-align: middle;
}
/* Fine logo pagina */